name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: deps
      run: sudo apt-get install pybind11-dev libpq-dev libc++-19-dev clang-19 libsqlite3-dev libsqlite3-dev libpcap-dev
    - name: deps2
      run: sudo apt-get build-dep libpqxx-dev
    - name: make
      run: make
