name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: deps
      run: sudo apt-get install libpqxx-dev libpq-dev libc++-dev clang libsqlite3-dev libpcap-dev
    - name: make
      run: make
